.lastViewedList li {
  *zoom: 1; }
  .lastViewedList li:before, .lastViewedList li:after {
    content: " ";
    display: table; }
  .lastViewedList li:after {
    clear: both; }

.lastViewedThumb {
  float: left;
  margin: 6px 6px 6px 0; }
  .lastViewedThumb img {
    width: 48px; }

.lastViewedTitle {
  font-weight: bold; }
