/* float clearing for IE6 */
.clearfix{
    height: 1%;
    overflow: visible;
}

/* float clearing for IE7 */
.clearfix{
    min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
}

.widget_lastViewed .lastViewedList {list-style: none;}
.widget_lastViewed .lastViewedList li { margin: 0;}
.lastViewedThumb {float: left; margin: 6px 6px 6px 0;}
.lastViewedThumb img {width: 48px;}

.lastViewedTitle {font-weight: bold;}


