@import 'bourbon/bourbon';
.lastViewedList{
  list-style-type: none;
}
.lastViewedList li.clearfix{
  @include clearfix;
}
.lastViewedThumb {
    float: left;
    margin: 6px 6px 6px 0;

    img {
      width: 48px;
    }
}
.lastViewedTitle {font-weight: bold;}

.lastViewedExcerpt {
  margin-bottom: 18px;
  display: block;
}